* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    padding-bottom: 100px;
    max-width: 700px;
    margin: 0 auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    background: grey;
    z-index: 999;
}

/* SCREEN 2 */

#screen-2 {
    background: red;
}

/* SCREEN SHMU */

#shmu #homepage {
background: #9B66B0;
padding: 20px;
 color: white;
}

.p-title-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}
.bck {
    width: 35px;
    height: 35px;
}
.studio-img {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}
.bookn {
    margin-top: 15px;
}

.bookn button {
    background: #7E3D98;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.info-links {
    display: flex;
    justify-content: space-between;
    /* margin-top: 25px; */
    font-size: 14px;
}

hr {
    border-color: #732990;
    margin: 5px 0;
}

h3{
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

ul {
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 20px;
}






/* FOOTER NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 60px;
    padding: 0 5rem;
    background-color: grey;
    width: 100%;
    max-width: 700px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
}

